body {
  background-color: yellowgreen;
}
#image {
  background-image: url("../images/Candy.jpeg");
  width: 425px;
  height: 567px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}